<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div>
        {{>header}}
        <p>{{name}}</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis vel numquam fugit, officiis veniam
            laudantium tempore facere commodi mollitia sed natus voluptate rerum sequi sapiente autem ratione officia
            delectus itaque esse ex illo provident! Maxime provident obcaecati voluptatum sequi?</p>
    </div>


    {{>footer}}
</body>

</html>