<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <div>
        {{>header}}
        <p>{{name}}</p>
        {{!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis blanditiis culpa provident itaque eveniet veritatis quasi ut quibusdam numquam? Ullam!</p> --}}
        <img src="/img/imga2.jpg" alt="girl">
        <form action="">
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>